.display_ads {
  display: flex;
  /* position: relative; */

  /* background-color: rgb(234, 162, 182); */
}
.display_ads_left_bar {
  /* background-color: gray; */
  flex-basis: 350px;
  padding: 0 20px;
}
.display_ads_middle {
  /* background-color: rgb(169, 105, 105); */
  flex-grow: 1;
  padding: 0 20px;
}
.display_ads_right {
  /* background-color: rgb(34, 27, 27); */
  flex-basis: 250px;
  padding: 0 20px;
  height: 100vh;
  position: sticky;
  top: 0;
}

#filter_ads {
  width: 100%;
}
