body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

@media (min-width: 576px) {
  .country-list {
    columns: 2;
    column-fill: balance;
  }
}
@media (min-width: 992px) {
  .country-list {
    columns: 3;
    column-fill: balance;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.post-card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

::selection {
  background: #dc3545;
  color: #fff;
}
